{% extends "base.html.twig" %}

{% block title %}Ja no definitely - {{ category.category_name}} {% endblock %}

{% block body %}
<div>

<span class="mui--text-title" id="category_title">{{ category.category_name}}</span>

    <!--Questions-->
    <div id="content" class="mui-container-fluid">
    <br>
      <div class="mui-row">
        <div class="mui-col-sm-10 mui-col-sm-offset-1">

          {{ form_start(questionForm, {'attr': {'novalidate': 'novalidate'}}) }}
          {{ form_widget(questionForm.question_text, {'attr': {'placeholder': 'Ask a question...'} }) }}
          {{ form_widget(questionForm.category, {'attr': {'placeholder': 'Category'} }) }}
          {{ form_end(questionForm) }}
          <br>

          {# <br>
          <br>
          <div class="mui-divider"></div>
          <br>
          <div class="mui--text-headline test">{{ question.question_text }}</div>
          <div class="mui--text-black-54">Asked By <a href="#">{{ question.question_author }}</a> on {{ question.question_date }}</div>
          <br>
          <div> <a>See answers</a> </div>
          <br> #}

          {% for question in questions %}
          {% if question.category.id == category.id %}
          {# <div class="mui--text-black-54 mui--text-body2">{{ question.category_id }}</div> #}
          <div class="mui-divider"></div>
          <br>
          <div class="mui--text-headline">{{ question.question_text }}</div>
          <div class="mui--text-black-54">Asked By <a href="/profile">{{ question.question_author }}</a></div>
          <br>
          <br>

          {# Answers #}
          {% for answer in answers %}
          {% if question.id == answer.question.id %}
          <div class="mui-divider"></div>
          <br>
          <div class="answer-vote-con">
          <div class="mui--text-black-54 answer-con"> {{ answer.answer_text }} - <a class="author-comment" href="/profile/{{answer.author.id}}">{{ answer.answer_author }}</a> </div>

          <div class="vote-con"> <a href="" class="vote"><i class="fas fa-arrow-up"></i> 0 </a><a href="" class="vote"><i class="fas fa-arrow-down"></i> 0 </a>
          {% if useraccount.type == "admin" %}
          <a href="/delete" class="delete-btn">Delete</a>
          {% endif %}
          </div>

          </div>
          {% endif %}
          {% endfor %}
          {# Answers #}

          {% endif %}
          {% endfor %}
          
      </div>
    </div>

   

</div>
{% endblock %}