{% extends "base.html.twig" %}

{% block title %}Ja no definitely - Home {% endblock %}

{% block body %}
<div>

    <!--Questions-->
    <div id="content" class="mui-container-fluid">
    <br>
      <div class="mui-row">
        <div class="mui-col-sm-10 mui-col-sm-offset-1">

          {{ form_start(questionForm, {'attr': {'novalidate': 'novalidate'}}) }}
          {{ form_widget(questionForm) }}
          {{ form_end(questionForm) }}
          <br>

          <br>

          {% for question in questions %}
          <div class="mui--text-black-54 mui--text-body2">{{ question.category_id }}</div>
          <div class="mui-divider"></div>
          <br>
          <div class="mui--text-headline">{{ question.question_text }}</div>
          <br>
          <div class="mui--text-black-54">Asked By <a href="#">{{ question.question_author }}</a></div>
          <div class="mui-divider"></div>
          {# <br>
          {{ form_start(answerForm, {'attr': {'novalidate': 'novalidate'}}) }}
          {{ form_widget(answerForm) }}
          {{ form_end(answerForm) }}
          <br> #}
          <br>
          {# <div class="mui--text-black-54 mui--text-body2">{{ answer.answer_author }}</div>
          <div class="mui-divider"></div>
          <br>
          <div class="mui--text-black-54">Asked By <a href="#">{{ answer.answer_text }}</a></div> #}
          <br>
          {% endfor %}
          
      </div>
    </div>

    {# ads #}
  <div id="ad" class="mui-container-fluid">
      <div class="mui-row">
        AD!
    </div>
</div>

</div>
{% endblock %}