{% extends "base.html.twig" %}

{% block title %}Ja no definitely - Home {% endblock %}

{% block body %}
<div>

    <!--Questions-->
    <div id="content" class="mui-container-fluid">
    <br>
      <div class="mui-row">
        <div class="mui-col-sm-10 mui-col-sm-offset-1">

          {{ form_start(questionForm, {'attr': {'novalidate': 'novalidate'}}) }}
          {{ form_widget(questionForm.question_text, {'attr': {'placeholder': 'Ask a question...'} }) }}
          {{ form_widget(questionForm.category, {'attr': {'placeholder': 'Category'} }) }}
          {{ form_end(questionForm) }}
          <br>

          {# <br>
          <br>
          <div class="mui-divider"></div>
          <br>
          <div class="mui--text-headline test">{{ question.question_text }}</div>
          <div class="mui--text-black-54">Asked By <a href="#">{{ question.question_author }}</a> on {{ question.question_date }}</div>
          <br>
          <div> <a>See answers</a> </div>
          <br> #}


          {% for question in questions %}

          <br>
          <div class="mui--text-black-54 mui--text-body2">{{ question.category.categoryName }}</div>

          {# <div class="mui--text-black-54 mui--text-body2">{{ question.category }}</div> #}

          <div class="mui-divider"></div>
          <br>
          <div class="mui--text-headline">{{ question.question_text }}</div>
          <div class="mui--text-black-54">Asked By <a href="/profile/{id}">{{ question.question_author }}</a></div>
          <br>

          
          {# Answer Question #}
          {# <br>
          {{ form_start(answerForm, {'attr': {'novalidate': 'novalidate'}}) }}
          {{ form_widget(answerForm) }}
          {{ form_end(answerForm) }}
          <br> 
          <br>
          <br> #}

          {#  #}
          {% endfor %}

          {# Answers #}
            
          {% for answer in answers %}
          <div class="mui--text-black-54 mui--text-body2">{{ answer.answer_author }}</div>
          <div class="mui-divider"></div>
          <br>
          <div class="mui--text-black-54">{{ answer.answer_text }}</div>
          <br>
          {% endfor %}
          
      </div>


    </div>

   

</div>
{% endblock %}