{% extends "base.html.twig" %}

{% block title %}Ja no definitely - Home {% endblock %}

{% block body %}
<div>

    <!--Questions-->
    <div id="content" class="mui-container-fluid">
    <br>
      <div class="mui-row">
        <div class="mui-col-sm-10 mui-col-sm-offset-1">

          {{ form_start(questionForm, {'attr': {'novalidate': 'novalidate'}}) }}
          {{ form_widget(questionForm.question_text, {'attr': {'placeholder': 'Ask a question...'} }) }}
          {{ form_widget(questionForm.category_id, {'attr': {'placeholder': 'Category'} }) }}
          {{ form_end(questionForm) }}
          <br>

          {# <br>
          <br>
          <div class="mui-divider"></div>
          <br>
          <div class="mui--text-headline test">{{ question.question_text }}</div>
          <div class="mui--text-black-54">Asked By <a href="#">{{ question.question_author }}</a> on {{ question.question_date }}</div>
          <br>
          <div> <a>See answers</a> </div>
          <br> #}


          {% for question in questions %}
          <div class="mui--text-black-54 mui--text-body2">{{ question.category_id }}</div>
          <div class="mui-divider"></div>
          <br>
          <div class="mui--text-headline">{{ question.question_text }}</div>
          <div class="mui--text-black-54">Asked By <a href="{{ question.question_author }}">{{ question.question_author }}</a></div>
          <br>
          <br>

          {# <div id="sidedrawer" class="mui--no-user-select">
            <div class="mui-divider"></div>
            <ul>
              <li>
                <strong>Answers</strong>
                <ul>
                  {% for answer in answers %}
                    <li><a>{{ answer.answer_author }}</a></li>
                    <li><a>{{ answer.answer_text }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div> #}

          {# <br>
          {{ form_start(answerForm, {'attr': {'novalidate': 'novalidate'}}) }}
          {{ form_widget(answerForm) }}
          {{ form_end(answerForm) }}
          <br> 
          <br>#}
          {% endfor %}
          
      </div>
    </div>

    {# ads #}
  <div id="ad" class="mui-container-fluid">
      <div class="mui-row">
        AD!
    </div>
</div>

</div>
{% endblock %}