{% extends "base.html.twig" %}

{% block title %}Ja no definitely - Login {% endblock %}


{% block body %}
<div class="login-background">
  <div class="login-con">
  <ul class="mui-tabs__bar mui-tabs__bar--justified">
    <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="pane-justified-1">Login</a></li>
    <li><a data-mui-toggle="tab" data-mui-controls="pane-justified-2">Sign Up</a></li>
  </ul>

  <div class="mui-tabs__pane mui--is-active" id="pane-justified-1">

    {{ form_start(loginForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(loginForm) }}
    {{ form_end(loginForm) }}
    <!--
    <form class="mui-form">
      <div class="mui-textfield">
        <input id="email" type="email" placeholder="Email">
      </div>
      <div class="mui-textfield">
        <input type="password" placeholder="Password">
      </div>
      <button type="submit" class="mui-btn mui-btn--raised">Login</button>
    </form>
    -->
  </div>

  <div class="mui-tabs__pane" id="pane-justified-2">

    {{ form_start(registerForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(registerForm) }}
    {{ form_end(registerForm) }}
  <!--
    <form class="mui-form">
      <div class="mui-textfield">
        <input id="name" type="text" placeholder="Name">
      </div>
      <div class="mui-textfield">
        <input id="surname" type="text" placeholder="Surname">
      </div>
      <div class="mui-textfield">
        <input id="email" type="email" placeholder="Email">
      </div>
      <div class="mui-textfield">
        <input type="password" placeholder="Password">
      </div>
      <button type="submit" class="mui-btn mui-btn--raised">Sign Up</button>
      <button type="submit" class="mui-btn mui-btn--raised">Sign Up using Facebook</button>
  </form>
  -->
  </div>
  </div>

</div>
{% endblock %}