<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
        <link href="//cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{{ ('js/main.js') }}"></script>
        <link rel="stylesheet" href="{{ ('css/main.css') }}">
        <link rel="stylesheet" href="{{ ('css/header.css') }}">
        
        <title>{% block title %}Ja no definitely - Register {% endblock %}</title>
        {% block stylesheets %}
                
        {% endblock %}
    </head>
    <body>
      {% block body %}
        <div class="login-background">
        <div class="mui-container-fluid" id="login-con">

        <div class="regForm">
          {{ form_start(registerForm, {'attr': {'novalidate': 'novalidate'}}) }}
          {{ form_widget(registerForm.name, {'attr': {'placeholder': 'Name'} }) }}
          {{ form_widget(registerForm.surname, {'attr': {'placeholder': 'Surname'} }) }}
          {{ form_widget(registerForm.username, {'attr': {'placeholder': 'Username'} }) }}
          {{ form_widget(registerForm.email, {'attr': {'placeholder': 'Email'} }) }}
          {{ form_widget(registerForm.password, {'attr': {'placeholder': 'Password'} }) }}
          {{ form_end(registerForm) }}
        </div>
        
        </div>

      </div>
      {% endblock %}
    </body>  
</html>